<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scfw.dao.FoodMapper" >
  <resultMap id="BaseResultMap" type="scfw.model.Food" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_img_path" property="foodImgPath" jdbcType="VARCHAR" />
    <result column="food_type" property="foodType" jdbcType="VARCHAR" />
    <result column="food_details" property="foodDetails" jdbcType="VARCHAR" />
    <result column="food_comment" property="foodComment" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, food_name, food_img_path, food_type, food_details, food_comment, is_delete, food_price, 
    total_count, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="scfw.model.Food" >
    insert into food (ID, food_name, food_img_path, 
      food_type, food_details, food_comment, 
      is_delete, food_price, total_count, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, #{foodImgPath,jdbcType=VARCHAR}, 
      #{foodType,jdbcType=VARCHAR}, #{foodDetails,jdbcType=VARCHAR}, #{foodComment,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{foodPrice,jdbcType=DOUBLE}, #{totalCount,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="scfw.model.Food" >
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodImgPath != null" >
        food_img_path,
      </if>
      <if test="foodType != null" >
        food_type,
      </if>
      <if test="foodDetails != null" >
        food_details,
      </if>
      <if test="foodComment != null" >
        food_comment,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodImgPath != null" >
        #{foodImgPath,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodDetails != null" >
        #{foodDetails,jdbcType=VARCHAR},
      </if>
      <if test="foodComment != null" >
        #{foodComment,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalCount != null" >
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scfw.model.Food" >
    update food
    <set >
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodImgPath != null" >
        food_img_path = #{foodImgPath,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        food_type = #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodDetails != null" >
        food_details = #{foodDetails,jdbcType=VARCHAR},
      </if>
      <if test="foodComment != null" >
        food_comment = #{foodComment,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalCount != null" >
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scfw.model.Food" >
    update food
    set food_name = #{foodName,jdbcType=VARCHAR},
      food_img_path = #{foodImgPath,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=VARCHAR},
      food_details = #{foodDetails,jdbcType=VARCHAR},
      food_comment = #{foodComment,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DOUBLE},
      total_count = #{totalCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryFoods" resultMap="BaseResultMap" >
  	select 
  	<include refid="Base_Column_List"  />
  	from food
  </select>
  <select id="todayOrderItems" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
  	select 
  	<include refid="Base_Column_List"  />
  	from food f where f.id in(select o.food_id from order_item o where o.user_id=#{userId,jdbcType=INTEGER} and o.is_delete='0' order by o.id desc) 
  </select>
</mapper>